body {
	font-family: "Hind", sans-serif !important;
	font-size: 16px;
	font-weight: 400;
	line-height: 160%;
	color: #808080;
	background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Big Shoulders Display", sans-serif !important;
	font-optical-sizing: auto;
	text-transform: uppercase;
	line-height: 120%;
	font-weight: 700;
	color: #141718;
}
h1 {
	font-size: 40px;
	letter-spacing: 1px;
}
h2 {
	font-size: 32px;
	letter-spacing: 1px;
}
h3 {
	font-size: 28px;
	letter-spacing: 1px;
}
h4 {
	font-size: 24px;
	letter-spacing: 1px;
}
h5 {
	font-size: 20px;
	letter-spacing: 1px;
}
h6 {
	font-size: 16px;
	letter-spacing: 1.25px;
}
.display-1 {
	font-size: 96px;
	letter-spacing: 1px;
}
.display-2 {
	font-size: 88px;
	letter-spacing: 1px;
}
.display-3 {
	font-size: 72px;
	letter-spacing: 1px;
}
.display-4 {
	font-size: 56px;
	letter-spacing: 1px;
}
p {
	font-family: "Hind", sans-serif !important;
	font-size: 16px;
	font-weight: 400;
	line-height: 160%;
	color: #808080;
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
    nabvar
  +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.site-header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 0;
	@media screen and (max-width: 640px) {
		justify-content: center;
		padding: 8px 16px;
	}
}
.nav-link {
	font-family: "Big Shoulders Display", sans-serif;
	font-optical-sizing: auto;
	text-transform: uppercase;
	font-size: 14px;
	line-height: normal;
	font-weight: 700;
	letter-spacing: 1.25px;
	color: #141718;
	transition: all 0.3s ease-in-out;
	&:hover,
	&:focus:hover,
	&:visited:hover {
		color: #04a9fb;
	}
	&:focus,
	&:visited {
		color: #141718;
	}
}
.custom-logo-link {
	display: flex;
	align-items: center;
	max-width: 150px;
	img {
		width: 150px;
	}
}


	.navbar-toggler{
		display: none!important;
	}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
    nav user
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.nav-user {
	@media screen and (max-width: 640px) {
		padding-top: 8px;
		padding-bottom: 8px;
	}
	a {
		font-family: "Big Shoulders Display", sans-serif;
		font-optical-sizing: auto;
		text-transform: uppercase;
		font-size: 14px;
		line-height: normal;
		font-weight: 700;
		letter-spacing: 1.25px;
		color: #141718;
		text-decoration: none;
		transition: all 0.3s ease-in-out;
		&:hover,
		&:focus:hover,
		&:visited:hover {
			color: #04a9fb;
		}
		&:focus,
		&:visited {
			color: #141718;
		}
	}
	.navbar-nav {
		@media screen and (max-width: 640px) {
			flex-direction: row;
			justify-content: flex-start!important;
		}
		li {
			padding-left: 0;
			padding-right: 0;
			&:last-of-type {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				&:before {
					content: "/";
					margin: 0;
				}
			}
		}
	}
	@media screen and (max-width: 640px) {
		width: 70%;
		
	}
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
    cart icon
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.cart-button {
	position: relative;
	color: #6c7275;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 1.25px;
	text-transform: uppercase;
	border-radius: 50%;
	padding: 8px;
	margin: 0 8px;
	transition: all 0.3s ease-in-out;
	a {
		color: #808080;
		&:hover,
		&:focus:hover,
		&:visited:hover {
			color: #04a9fb;
		}
		&:focus,
		&:visited {
			color: #808080;
		}
	}
}

.cart-contents-count {
	font-family: "Hind", sans-serif;
	font-size: 11px;
	line-height: 120%;
	font-weight: 500;
	background-color: #141718;
	color: #ffffff;
	padding: 4px 6px;
	position: absolute;
	top: 4px;
	right: 0;
	border-radius: 50%;
	width: 18px;
	height: 18px;
	text-align: center;
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
    search header
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.woocommerce-product-search {
	width: 600px;
	margin-left: 200px;
	@media screen and (max-width: 640px) {
		width: 100%;
		margin-left: 0;
		margin-top: 16px;
		margin-bottom: 16px;
		
	}
	.input-group {
		border: 1px solid #141718;
		border-radius: 24px;
		.search-field {
			border: none !important;
			&:focus {
				outline: none !important;
			}
			padding-left: 24px;
			border-top-left-radius: 24px!important;
			border-bottom-left-radius: 24px!important;
		}
		.btn-primary {
			background-color: #d1d1d1 !important;
			border: none !important;
			border-top-right-radius: 24px!important;
			border-bottom-right-radius: 24px!important;
			color: #141718 !important;
			&:hover {
				color: #04a9fb !important;
			}
		}
	}
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
    buttons
  +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
  .wc-block-components-panel__button,
  .wc-block-cart__submit-button,
.btn {
	font-family: "Big Shoulders Display", sans-serif;
	font-optical-sizing: auto;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 1.25px;
	color: #ffffff;
	background-color: #141718;
	border: 2px solid #141718;
	border-radius: 0 !important;
	transition: all 0.3s ease-in-out;
	&:hover,
	&:focus:hover,
	&:visited:hover {
		color: #141718;
		background-color: #04a9fb;
		border: 2px solid #04a9fb;
	}
	&:focus,
	&:visited {
		color: #ffffff;
		background-color: #141718;
		border: 2px solid #141718;
	}
}
.wc-block-components-panel__button{
	padding: 12px 16px!important;
	margin-bottom: 24px!important;
	&:hover{
		.wc-block-components-order-summary__button-text{
			color: #141718;
		}
	}
}
.wc-block-components-order-summary__button-text{
	font-family: "Big Shoulders Display", sans-serif;
	font-optical-sizing: auto;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 1.25px;
	color: #ffffff;
	padding: 6px 16px!important;
	
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
    Section title
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.section-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.subtitle {
		font-family: "Big Shoulders Display", sans-serif;
		font-size: 16px;
		font-weight: 400;
		color: #111517;
		letter-spacing: 1px;
		padding-left: 64px;
		border-bottom: 1px solid #04a9fb;
		width: fit-content;
		text-transform: uppercase;
	}
	.title {
		.stk-block-heading__text {
			margin-top: 0px;
		}
	}
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
    footer
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#wrapper-footer-full {
	padding-top: 48px;
	background-color: #141718;
	color: #ffffff;
	font-family: "Big Shoulders Display", sans-serif;
	font-optical-sizing: auto;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 1.25px;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: #ffffff;
		margin-bottom: 16px;
	}
	.wp-block-heading {
		width: fit-content;
		border-bottom: 1px solid #ffffff;
		padding-right: 20%;
		padding-bottom: 4px;
		font-size: 16px !important;
		font-weight: 600;
	}
	.menu {
		display: flex;
		flex-direction: column;
		list-style: none !important;
		padding: 0;
		margin: 0;
		li {
			display: inline-block;
			margin-right: 0;
			margin-bottom: 8px;
			&:last-child {
				margin-bottom: 0;
			}
			a {
				font-family: "big shoulders display", sans-serif !important;
				text-transform: uppercase !important;
				font-size: 16px !important;
				font-weight: 700 !important;
				color: #ffffff !important;
				text-decoration: none !important;
				letter-spacing: 1.25px;
				&:hover,
				&:focus:hover,
				&:visited:hover {
					color: #04a9fb !important;
				}
				&:focus,
				&:visited {
					color: #ffffff !important;
				}
			}
		}
	}
	.footer-widget {
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			li {
				margin-bottom: 8px;
				&:last-child {
					margin-bottom: 0;
				}
				a {
					font-family: "big shoulders display", sans-serif !important;
					text-transform: uppercase !important;
					font-size: 16px !important;
					font-weight: 700 !important;
					color: #ffffff !important;
					text-decoration: none !important;
					letter-spacing: 1.25px;
					&:hover,
					&:focus:hover,
					&:visited:hover {
						color: #04a9fb !important;
					}
					&:focus,
					&:visited {
						color: #ffffff !important;
					}
				}
			}
		}
	}
}

.site-footer {
	background-color: #141718;
	&__social {
		position: relative;
		color: #ffffff;
		font-family: "Hind", sans-serif;
		font-weight: 500;
		font-size: 16px;
		line-height: 160%;
		text-align: center;
		text-transform: uppercase;
		background-color: #111517;
		padding: 36px 0;
		.social-link {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			color: #ffffff;
			text-decoration: none;
			padding: 6px;
			border-radius: 100px;
			border: 1px solid #ffffff;
			width: 40px;
			height: 40px;
			text-align: center;
			margin: 0 8px;
			&:hover,
			&:focus:hover,
			&:visited:hover {
				color: #04a9fb;
			}
			&:focus,
			&:visited {
				color: #04a9fb;
			}
		}
	}
	&__copyright {
		color: #ffffff;
		font-family: "Hind", sans-serif;
		font-weight: 400;
		font-size: 16px;
		line-height: 160%;
		text-align: center;
		text-transform: uppercase;
		background-color: #1e1e1e;
		padding: 24px 0;
		p {
			margin: 0;
		}
	}
}
.woocommerce .star-rating span::before,
.woocommerce .star-rating::before,
.woocommerce p.stars a{
	color: rgb(251, 226, 0)!important;
}
.woocommerce-review-link{
	font-family: "Big Shoulders Display", sans-serif;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 1.25px;
	color: #3e3e3e;
	text-transform: uppercase;

}

#left-sidebar{
	max-width: 25%!important;
	@media screen and (max-width: 640px) {
		max-width: 100%!important;
		width: 100%!important;
		margin-bottom: 24px!important;
	}
}
.shop_table{
	@media screen and (max-width: 640px) {
		& > .btn{
			width: 100%!important;
		}
	}
}
.wc-proceed-to-checkout{
	@media screen and (max-width: 640px) {
		.btn{
			width: 100%!important;
		}
	}
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
    side cart
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#side-cart {
	position: fixed;
	right: -300px; /* Oculta el carrito lateral por defecto */
	top: 0;
	width: 300px;
	height: 100%;
	padding: 20px;
	background-color: #fff;
	overflow-y: auto;
	transition: right 0.3s ease; /* Animación para mostrar y ocultar el carrito lateral */
}

#side-cart.open {
	right: 0; /* Muestra el carrito lateral cuando tiene la clase 'open' */
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
    Hero
  +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	&-subtitle {
		font-family: "Big Shoulders Display", sans-serif;
		font-size: 18px;
		font-weight: 400;
		color: #ffffff;
		letter-spacing: 1px;
	}
	&-title {
		font-family: "Big Shoulders Display", sans-serif;
		font-size: 88px;
		font-weight: 700;
		color: #ffffff;
		letter-spacing: 1px;
		@media screen and (max-width: 640px) {
			font-size: 44px;
		}
	}
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
	Home
  +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.wrapper#full-width-page-wrapper {
	padding-top: 0 !important;
}
.home {
	.wrapper#full-width-page-wrapper {
		padding-top: 0 !important;
	}
}

.new-arrivals {
	.add-to-cart-container {
		display: none !important;
	}
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
	price
  +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.price {
	font-family: "Big Shoulders Display", sans-serif;
	font-size: 20px !important;
	color: #3a3a3a !important;
	text-decoration: none !important;
	border: none !important;
	.woocommerce-Price-amount .amount,
	.woocommerce-Price-currencySymbol {
		color: #3a3a3a !important;
		text-decoration: none !important;
		border: none !important;
	}
	ins {
		margin-left: 8px;
		text-decoration: none !important;
		border: none !important;
	}
	bdi {
		text-decoration: none !important;
		border: none !important;
		font-weight: 700 !important;
	}
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
	item product
  +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.woocommerce ul.products li.product {
	.woocommerce-loop-product__title {
		padding: 0.5em 0 0;
	}
	.woocommerce-loop-product__link > .product-category {
		display: block;
		color: #898989 !important;
		font-family: "Hind", sans-serif;
		font-size: 14px;
		padding: 0 0 8px 0;
		&:hover {
			color: #131313 !important;
		}
	}
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
    form
  +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Inputs
--------------------------------------------------------------*/

label {
	font-family: "Hind", sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #808080;
	border-radius: 0;
	padding: 16px 0;
	margin-bottom: 4px;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
select,
textarea {
	font-family: "Hind", sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #1d2022 !important;
	border-radius: 0;
	line-height: 160%;
	letter-spacing: -0.01em;
	border: 1px solid rgba(0, 0, 0, 1) !important;
	padding: 16px;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="number"]:hover,
input[type="tel"]:hover,
input[type="range"]:hover,
input[type="date"]:hover,
input[type="month"]:hover,
input[type="week"]:hover,
input[type="time"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="color"]:hover,
select:hover,
textarea:hover {
	border: 1px solid rgba(#1d2022, 1) !important;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
select:focus,
textarea:focus {
	outline: none;
	border: 1px solid rgba(#1d2022, 1) !important;
}

iframe {
	width: 100%;
}

.quantity {
	display: flex;
	align-items: center;
	justify-content: center;
	input[type="number"] {
		width: 50px;
		text-align: center;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-right: 5px;
	}
}

/* Button
--------------------------------------------------------------*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	font-family: "Big Shoulders Display", sans-serif;
	font-size: 20px;
	letter-spacing: 0.02em;
	padding: 12px 40px;
	color: #ffffff !important;
	background: #141718 !important;
	transition: all 0.3s ease-in-out;
	border: 1px solid transparent !important;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	color: #1d2022 !important;
	border: 1px solid rgba(0, 0, 0, 1) !important;
	background: #ffffff !important;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	color: #1d2022 !important;
	border: 1px solid rgba(0, 0, 0, 1) !important;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
	accordion
  +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.wp-block-stackable-accordion {
	width: 100% !important;
}
.stk-block-accordion__wrapper {
	width: 100% !important;
}

.stk-block-accordion {
	width: 100% !important;
	padding: 0 !important;
}

.stk-block-accordion__heading {
	width: 100% !important;
	border-left: 4px solid #111517;
	padding: 24px !important;
	.stk-block-heading__text {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: start;
		text-transform: lowercase !important;
		&:before {
			display: flex;
			content: "Q.";
			font-size: 48px;
			font-weight: 700;
			line-height: 115%;
			letter-spacing: 1%;
			margin-right: 16px;
			color: #111517;
			text-transform: uppercase !important;
			font-family: "Big Shoulders Display", sans-serif;
		}
	}
}
.stk-block-accordion__content {
	& > .stk-column-wrapper {
		margin: 0 0 0 0 !important;
	}
	.stk-block-content {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: start;
		padding-left: 76px;
		padding-right: 24px;
		padding-top: 24px;
		padding-bottom: 24px;
		border-left: 4px solid #d7d7d7;
		&:before {
			position: absolute;
			top: 24px;
			left: 24px;
			display: flex;
			content: "A.";
			font-size: 48px;
			font-weight: 700;
			line-height: 115%;
			letter-spacing: 1%;
			margin-right: 16px;
			color: #111517;
			font-family: "Big Shoulders Display", sans-serif;
		}
	}
}

.stk--is-open {
	.stk-block-accordion__heading {
		border-left: 4px solid #04a9fb;
	}
}

.wc-block-product-categories-list {
	list-style: none;
	padding: 0;
	margin: 0;
	li {
		border-bottom: 1px solid #e6e6e6;
		padding: 10px 0 !important;
		a {
			font-size: 16px;
			font-family: "Big Shoulders Display", sans-serif;
			font-weight: 700;
			letter-spacing: 1.25px;
			color: #141718;
			text-decoration: none;
			transition: all 0.3s ease-in-out;
			text-transform: uppercase;
			&:hover {
				color: #04a9fb;
			}
		}
	}
	.wc-block-product-categories-list {
		padding-left: 24px;
		margin: 0;
		li:first-of-type {
			margin-top: 10px !important;
			border-top: 1px solid #e6e6e6;
		}
		li:last-of-type {
			border-bottom: none;
			padding-bottom: 0 !important;
		}
	}
}

.woocommerce-pagination {
	.page-numbers {
		border: none !important;
		font-size: 24px;
		font-family: "Big Shoulders Display", sans-serif;
		font-weight: 700;
		letter-spacing: 1.25px;
		color: #6c7275 !important;
		li {
			border: none !important;
			background: none !important;
			span {
				background: none !important;
				font-size: 24px;
				font-family: "Big Shoulders Display", sans-serif;
				font-weight: 700;
				letter-spacing: 1.25px;
				border: 1px solid #111517 !important;
				border-radius: 4px !important;
			}
		}
	}
}

.hero-products {
	background-color: #eeeeee;
	padding-top: 35px !important;
	padding-bottom: 35px !important;
	.woocommerce-products-header {
		display: flex;
		justify-content: center;
		h1 {
			font-size: 54px !important;
		}
	}
	.woocommerce-breadcrumb {
		display: flex;
		justify-content: center;
		margin-bottom: 0;
	}
}
.tax-product_cat .site-main .woocommerce-breadcrumb,
.post-type-archive-product .site-main .woocommerce-breadcrumb {
	display: none !important;
}
.woocommerce-result-count {
	margin-top: 8px !important;
	margin-bottom: 8px !important;
}

.summary {
	.product_title {
		font-size: 28px;
		font-family: "Big Shoulders Display", sans-serif;
		font-weight: 700;
		letter-spacing: 1.25px;
		color: #111517;
	}
	.woocommerce-Price-amount {
		font-size: 24px;
		font-family: "Big Shoulders Display", sans-serif;
		font-weight: 700;
		letter-spacing: 1.25px;
		color: #111517;
	}
}
.woocommerce-grouped-product-list-item__price .woocommerce-Price-amount,
.woocommerce-grouped-product-list-item__label{
	font-family: "Big Shoulders Display", sans-serif;
	font-size: 16px!important;
	font-weight: 700;
	letter-spacing: 1.25px;
	color: #111517;
	text-transform: uppercase;
	label{
		font-family: "Big Shoulders Display", sans-serif;
		font-size: 16px;
		font-weight: 700;
		letter-spacing: 1.25px;
		color: #111517;
		text-transform: uppercase;
		padding: 5px 16px 5px 0;
		a{
			font-family: "Big Shoulders Display", sans-serif;
			font-size: 16px;
			font-weight: 700;
			letter-spacing: 1.25px;
			color: #111517;
			text-transform: uppercase;
			padding: 5px 16px 5px 0;
		}
	}
}
.woocommerce-grouped-product-list-item__price  .woocommerce-Price-amount{
	display: inline-flex;
	align-items: center;
	padding-top: 4px!important;
}

.variations {
	select {
		padding: 5px 16px 5px 16px;
	}
	.label label {
		padding: 5px 16px 5px 0;
		font-size: 16px;
		font-family: "Big Shoulders Display", sans-serif;
		font-weight: 600;
		letter-spacing: 1.25px;
		color: #111517;
		text-transform: uppercase;
	}
}

.product_meta {
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	.sku_wrapper,
	.posted_in {
		width: 100%;
		font-size: 16px;
		font-family: "Big Shoulders Display", sans-serif;
		font-weight: 600;
		letter-spacing: 1.25px;
		text-transform: uppercase;
		color: #111517;
	}
}

.woocommerce-tabs {
	ul.tabs{
		border-color: #eeeeee!important;
		&:before{
			border-color: #898989!important;
		}
	}
	li {
		background-color: #eeeeee!important;
		border-color: #898989!important;
		border-radius: 0!important;
		&:before,
		&:after{
			display: none;
		}
		a {
			font-family: "Hind", sans-serif!important;
			font-size: 16px!important;
			font-style: normal;
			font-weight: 400!important;
			line-height: 160%;
		}
		&.active{
			background-color: #ffffff!important;
		}
	}
}

.xoo-wsc-pname{
	a{
		font-family: "Big Shoulders Display", sans-serif;
		font-size: 16px;
		font-weight: 700;
		letter-spacing: 1.25px;
		color: #111517;
		text-transform: uppercase;
	}
}
.xoo-wsc-ft-buttons-cont{
	a{
		font-family: "Big Shoulders Display", sans-serif;
		font-size: 16px;
		font-weight: 700;
		letter-spacing: 1.25px;
		color: #ffffff;
		text-transform: uppercase;
	}
}
.xoo-wsc-ft-amt-subtotal{
	.xoo-wsc-ft-amt-value,
	.xoo-wsc-ft-amt-label{
		font-family: "Big Shoulders Display", sans-serif;
		font-size: 18px!important;
		font-weight: 700;
		letter-spacing: 1.25px;
		color: #111517;
		text-transform: uppercase;
	}
}
.product-remove,
.product-thumbnail,
.product-name,
.product-price,
.product-quantity,
.product-subtotal{
	font-family: "Big Shoulders Display", sans-serif;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 1.25px;
	color: #111517;
	text-transform: uppercase;
}
.woocommerce table.shop_table tbody th{
	font-weight: 600;
	font-family: "Big Shoulders Display", sans-serif;
	font-size: 16px;
	letter-spacing: 1.25px;
	color: #111517;
	text-transform: uppercase;
}
.woocommerce-product-search{
	.search-field{
		padding: 4px 8px;
	}
}

.wc-block-components-sale-badge,
.wc-block-components-formatted-money-amount,
.wc-block-components-radio-control__label,
.wc-block-components-totals-item__label,
.wc-block-components-totals-item__value,
.wc-block-cart-items__header-total span,
.wc-block-cart-items__header-image span,
.wp-block-woocommerce-cart-order-summary-block .wc-block-cart__totals-title{
		font-family: "Big Shoulders Display", sans-serif!important;
		font-size: 16px!important;
		font-weight: 700!important;
		letter-spacing: 1.25px!important;
		color: #111517!important;
		text-transform: uppercase!important;
}

.wc-block-components-product-name{
	font-weight: 600;
	font-family: "Big Shoulders Display", sans-serif;
	font-size: 24px!important;
	letter-spacing: 1.25px;
	color: #111517;
	text-transform: uppercase;
	text-decoration: none!important;
}
.wc-block-cart-item__remove-link{
	background-color: transparent!important;
	color: #111517!important;
	border: none!important;
	&:hover{
		color: #04a9fb!important;
	border: none!important;

	}
}
.wc-block-components-quantity-selector .wc-block-components-quantity-selector__button{
	background-color: transparent!important;
	color: #111517!important;
	border: none!important;
	opacity: 1!important;
	&:hover{
		background-color: #04a9fb!important;
		color: #ffffff!important;
		border: none!important;
	}
}
.wc-block-components-quantity-selector input.wc-block-components-quantity-selector__input{
	border: 1px solid hsla(0, 0%, 7%, .11) !important;
}
.wc-block-components-product-name{
	color: #141718!important;
	font-size: 16px!important;
}
.wc-block-components-form .wc-block-components-text-input label, .wc-block-components-text-input label{
	top: -10px!important;
}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
    Categories
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.navbar__categories{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-color: #1d2022;
	.menu{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		list-style: none;
		margin-bottom: 0;
		padding: 8px 0;
		.menu-item{
			padding: 0 8px;
			a{
				font-family: "Big Shoulders Display", sans-serif;
				font-optical-sizing: auto;
				text-transform: uppercase;
				text-decoration: none;
				font-size: 14px;
				line-height: normal;
				font-weight: 500;
				letter-spacing: 1.25px;
				color: #ffffff;
				transition: all 0.3s ease-in-out;
				&:hover,
				&:focus:hover,
				&:visited:hover {
					color: #04a9fb;
				}
				&:focus,
				&:visited {
					color: #ffffff;
				}
			}
		}
	}
}


.single_variation_wrap{
	.bundle_sells_title{
		padding: 12px 8px 12px 8px!important;
		background-color: #6c7275!important;
		margin-bottom: 16px!important;
		h3{
			font-size: 18px!important;
			margin-bottom: 0!important;
			text-align: center!important;
			color:#ffffff!important;
		}
	}
	.bundled_product{
		.bundled_product_title{
			font-size: 16px!important;
		}
		.bundled_product_title_inner{
			font-size: 16px!important;
		}
		.bundled_product_title_link{
			font-size: 16px!important;
		}
		.bundled_product_excerpt{
			display: none!important;
		}
		.bundled_product_images{
			width: 14%!important;
		}
		.details{
			width: 86%!important;
			padding-left: 24px!important;
		}
		.bundled_product_summary{
			padding-bottom: 8px!important;
			margin-bottom: 8px!important;
		}
		.price{
			font-size: 16px!important;
		}
		.woocommerce-Price-amount{
			font-size: 16px!important;
		}
	}
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
    single product
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.single-product #left-sidebar{
	display: none!important;
}